<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      (click)="productsService._getAllProducts()"
      >All</a
    >
  </li>
  <li *ngFor="let category of categoriesService._categories" class="nav-item">
    <a class="nav-link" (click)="productsService._getAllProducts(category.ID)"
      >{{ category.Name }}
    </a>
  </li>
  <li>
    <input
      [(ngModel)]="productsService._ProdName"
      class="form-control me-2 w-md-25"
      type="search"
      placeholder="Product Name"
      aria-label="Search"
    />
  </li>
  <li>
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="productsService._getProdByName(productsService._ProdName)"
    >
      Search
    </button>
  </li>
</ul>
