

<i class="fa fa-trash" (click)="deleteAllProdsFromCart(usersServiceService._Users.CartID)" ></i>
<div class="col-3" *ngFor="let ProdInCart of prodInCartService._prodInCart">
  <!-- <app-prod-in-cart-card [ProdInCart]="ProdInCart"></app-prod-in-cart-card> -->
  <app-product-card
    [ProdInCart]="ProdInCart"
    [ProdType]="false"
  ></app-product-card>
</div>

<hr />

<p>Total: {{ prodInCartService._totalPrice }}</p>
<button class="btn btn-primary" routerLink="/orders">Initiate Checkout</button>