<div class="container">
  <div class="row">
    <div class="col-12">
      <form ngNativeValidate #form>
        <div class="mb-3">
          <label for="identification" class="form-label">Identification</label>
          <input
            type="number"
            class="form-control"
            name="identification"
            id="identification"
            [(ngModel)]="usersServiceService._User.Identification"
            minlength="5"
            [ngModelOptions]="{ standalone: true }"
            required
            (keyup)="identificationValidation($event)"
          />

          <div
            *ngIf="confirmIdentification == true"
            [ngClass]="
              confirmIdentificationSuccess ? 'text-success' : 'text-danger'
            "
          >
            {{
              confirmIdentificationSuccess
                ? "Valid Identification"
                : "Invalid Identification"
            }}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            required
            [(ngModel)]="usersServiceService._User.Mail"
            [ngModelOptions]="{ standalone: true }"
            (keyup)="mailValidation($event)"
          />
        </div>
        <div
          *ngIf="confirmMail == true"
          [ngClass]="confirmMailSuccess ? 'text-success' : 'text-danger'"
        >
          {{
            confirmMailSuccess ? " Valid Mail Address" : "Invalid Mail Address"
          }}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="usersServiceService._User.Password"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="mb-3">
          <label for="ConfirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            (keyup)="confirmPassword($event)"
            type="password"
            class="form-control"
            id="ConfirmPassword"
            required
          />
        </div>

        <div
          *ngIf="confirmPasswordText == true"
          [ngClass]="confirmPasswordSuccess ? 'text-success' : 'text-danger'"
        >
          {{
            confirmPasswordSuccess
              ? " confirm password is accurate"
              : "confirm password is no accurate"
          }}
        </div>
        <button
          type="submit"
          class="btn btn-success"
          (click)="changeRegisterPB(true)"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
