.flex {
  display: flex;
}

.col {
  width: 50%;
}

/* .draggable-box {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(194, 194, 197);
  cursor: grab;
  width: 48px;
  height: 48px;  
} */
