<div class="container flex">
  <div class="row">
    <div class="col-4">
      <app-log-in
        *ngIf="
          !usersServiceService._isRegister &&
          !usersServiceService._registerPanelB
        "
      ></app-log-in>
      <app-register
        *ngIf="
          usersServiceService._isRegister &&
          !usersServiceService._registerPanelB
        "
      ></app-register>
      <app-register-panel-b
        *ngIf="usersServiceService._registerPanelB"
      ></app-register-panel-b>
      <div
        *ngIf="
          usersServiceService._registerPanelB ||
          !usersServiceService._isRegister
        "
        class="col-8"
      >
        <button
          class="btn btn-primary"
          [disabled]="!usersServiceService._Users"
          (click)="findCart()"
          [routerLink]="
            !usersServiceService._Users
              ? []
              : usersServiceService._Users.ID > 0
              ? ['/home']
              : []
          "
        >
          {{
            !usersServiceService._Users ||
            usersServiceService._Users.CartID == null
              ? "Start New Shopping"
              : "Go To Cart"
          }}
        </button>
      </div>
    </div>
    <div class="col-4"><app-why-you-should-buy></app-why-you-should-buy></div>
    <div class="col-4"><app-about-us></app-about-us></div>
  </div>
</div>
