<!-- *ngFor="let product of productsService._products"
-->
<div class="container">
  <div class="card-body" class="card" style="width: 18rem">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h5 class="card-title">
          {{ ProdType ? Product.Name : ProdInCart.Product.Name }}
        </h5>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <img
        src="https://res.feednews.com/assets/v2/bdcbeefd15297ea254af962c9093ba00?width=1280&height=720&quality=hq&category=us_Digital_Technology"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p class="card-text">
          Description :
          {{ ProdType ? Product.description : ProdInCart.Product.description }}
        </p>
        <p class="card-text">
          Price : {{ ProdType ? Product.Price : ProdInCart.Product.Price }}
        </p>
        <p *ngIf="!ProdType" class="card-text">
          Quantity : {{ ProdInCart.Qnt }}
        </p>
        <div class="row">
          <div class="col-2">
            <i
              class="fas fa-plus"
              (click)="
                increaseOrDecreaseQnt(true, ProdInCart.ID, ProdInCart.Qnt)
              "
            ></i>
          </div>
          <div class="col-8">
            <button
              *ngIf="ProdType"
              (click)="addToCart(Product.ID)"
              class="btn btn-primary"
            >
              Add To Cart
            </button>
            <input
              *ngIf="!ProdType"
              type="text"
              class="form-control"
              name="password"
              id="password"
              [(ngModel)]="prodInCartService._singleProdInCart.Qnt"
            />
          </div>
          <div class="col-2">
            <i
              class="fas fa-minus"
              (click)="
                increaseOrDecreaseQnt(false, ProdInCart.ID, ProdInCart.Qnt)
              "
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
