.alignCenter {
  align-items: center;
}

.inBl {
  display: inline-block;
}

.constSize {
  position: initial;
  height: 100%;
  width: 100%;
}

.prodImg {
  width: 230px;
  height: 200px;
}

.card-title {
  text-align: center;
}

.yellowBG {
  background-color: yellow;
}
