<div class="card alignCenter constSize">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <i
          *ngIf="usersServiceService._Users.IsAdmin == 1"
          class="fas fa-edit"
          (click)="editBTN(Product.ID)"
        ></i>
        <i
          class="fa fa-trash"
          *ngIf="usersServiceService._Users.IsAdmin == 0 && ProdType != 2"
          (click)="
            prodInCartService._deleteProdInCart(
              ProdInCart.ID,
              usersServiceService._Users.CartID
            )
          "
        ></i>
      </div>
      <div class="col-6">
        <h3 class="card-title" *ngIf="ProdType != 2">
          {{
            ProdType == 1
              ? Product.Name
              : ProdType == 0
              ? ProdInCart.Product.Name
              : null
          }}
        </h3>
      </div>
      <h1 *ngIf="prodInCartService._fromOrders">
        {{ getName(ProdInCart.Product.Name) }}
        <span
          *ngFor="let str of nameLenArr; index as i"
          [ngClass]="!str.isSearched ? 'regularBG' : 'yellowBG'"
        >
          {{ nameLenArr[i].letter }}</span
        >
      </h1>

      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-11">
        <img
          src="{{ imgSrc(ProdType) }}"
          class="card-img-top prodImg"
          alt="..."
        />
      </div>
    </div>
    <div class="col-1"></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p class="card-text">
          Description :
          {{
            ProdType == 1 ? Product.description : ProdInCart.Product.description
          }}
        </p>
        <p class="card-text">
          Price : {{ ProdType == 1 ? Product.Price : ProdInCart.Product.Price }}
        </p>
        <p *ngIf="ProdType != 1" class="card-text">
          Quantity : {{ ProdInCart.Qnt }}
        </p>
        <div
          *ngIf="usersServiceService._Users.IsAdmin == 0 && ProdType != 2"
          class="row"
        >
          <div class="col-2">
            <i
              class="fas fa-plus"
              (click)="
                increaseOrDecreaseQnt(
                  true,
                  Product.ID,
                  ProdInCart.Qnt,
                  ProdInCart.ID
                )
              "
            ></i>
          </div>
          <div class="col-8">
            <button
              id="myBtn"
              *ngIf="ProdType == 1"
              (click)="addToCart(Product.ID)"
              class="btn btn-primary"
            >
              Add To Cart
            </button>
          </div>
          <div class="col-2">
            <i
              class="fas fa-minus"
              (click)="
                increaseOrDecreaseQnt(
                  false,
                  Product.ID,
                  ProdInCart.Qnt,
                  ProdInCart.ID
                )
              "
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
