.alignCenter {
  align-items: center;
}

.inBl {
  display: inline-block;
}

.constSize {
  /* overflow-y: scroll; */
  position: initial;
  overflow-y: auto;
  height: 100%;
  width: 90%;
}

.prodImg {
  width: 230px;
  height: 200px;
}
