<p>available products in her store{{ productsService._products.length }}</p>

<p>
  Number of orders submitted in our store: {{ ordersService._orders.length }}
</p>

<p
  *ngIf="
    usersServiceService._Users &&
    usersServiceService._Users.ID > 0 &&
    (usersServiceService._Users.Carts.length == 0 ||
      (usersServiceService._Users.Carts.length == 1 &&
        usersServiceService._totP == 0))
  "
>
  Welcome to your first shopping 🤩
</p>

<p
  *ngIf="
    usersServiceService._Users &&
    usersServiceService._isOpenedCart &&
    usersServiceService._createdAt != ''
  "
>
  You have an open cart since :{{ usersServiceService._createdAt }}
</p>
<p
  *ngIf="
    usersServiceService._Users &&
    !usersServiceService._isOpenedCart &&
    ((usersServiceService._Users.Carts.length > 1 &&
      usersServiceService._totP == 0) ||
      (usersServiceService._Users.Carts.length == 1 &&
        usersServiceService._totP > 0))
  "
>
  You'r last shopping was at: {{ usersServiceService._createdAt }}
</p>
<p
  *ngIf="
    usersServiceService._Users &&
    usersServiceService._isOpenedCart &&
    usersServiceService._totP > 0
  "
>
  Total to Payment: {{ usersServiceService._totP }}
</p>
