<p>available products in her store{{ productsService._products.length }}</p>

<p>
  Number of orders submitted in our store: {{ ordersService._orders.length }}
</p>

<p
  *ngIf="
    usersServiceService._Users && usersServiceService._Users.Carts.length == 0
  "
>
  Welcome to your first shopping 🤩
</p>

<p
  class="yellowBG"
  *ngIf="
    usersServiceService._Users &&
    usersServiceService._Users.Carts.length > 0 &&
    usersServiceService._createdAt != ''
  "
>
  You have opened cart from
  {{ usersServiceService._createdAt }}
</p>

<p
  *ngIf="
    usersServiceService._Users &&
    usersServiceService._Users.Carts.length > 0 &&
    usersServiceService._totP > 0
  "
>
  Total to Payment: {{ usersServiceService._totP }}
</p>
