<div class="container flex">
  <div class="row ">
  <div class="sw flex">
    <div id="cartRBorder" class="borderR"  
 (mousedown)="draggableEl = $event.target" 
  (document:mousemove)="onMouseMove($event)" 
  (document:mouseup)="onMouseUp($event)">
              <div class="borderCol">
    <app-cart></app-cart>
  </div>
    </div>

  </div>

  <div class="bw productsDV flex">
    <div *ngFor="let Product of productsService._products">
      <app-product-card
        [ProdType]="true"
        [Product]="Product"
      ></app-product-card>
    </div>
  </div>
</div>


</div>


