<div class="row">
  <div
    class="cartCol"
    [ngClass]="
      oneFifths
        ? 'col-xl-3 col-lg-3 col-md-3'
        : twoFifths
        ? 'col-xl-5 col-lg-5 col-md-5'
        : threeFifths
        ? 'col-xl-7 col-lg-7 col-md-7'
        : fourFifths
        ? 'col-xl-9 col-lg-9 col-md-9'
        : 'col-xl-9 col-lg-9 col-md-9'
    "
  >
    <div
      class="rectangle cartRow row"
      [ngStyle]="style"
      mwlResizable
      [validateResize]="validate"
      [enableGhostResize]="true"
      [resizeSnapGrid]="{ right: 1 }"
      (resizeEnd)="onResizeEnd($event)"
    >
      <!-- <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8"></div>
        <div class="col-2"></div>
      </div> -->

      <div class="col-12">
        <i class="fa fa-trash trash" (click)="deleteAllProdsFromCart()"></i>
      </div>

      <div
        [ngClass]="
          oneFifths
            ? 'col-xl-12 col-lg-12 col-md-12'
            : twoFifths
            ? 'col-xl-6 col-lg-6 col-md-6'
            : threeFifths
            ? 'col-xl-4 col-lg-4 col-md-4'
            : fourFifths
            ? 'col-xl-3 col-lg-3 col-md-3'
            : 'col-xl-3 col-lg-3 col-md-3'
        "
        *ngFor="let ProdInCart of prodInCartService._prodInCart"
      >
        <app-product-card
          [ProdInCart]="ProdInCart"
          [ProdType]="false"
        ></app-product-card>
      </div>

      <hr />

      <p class="totalPP">Total: {{ prodInCartService._totalPrice }}</p>
      <button class="btn btn-primary" routerLink="/orders">
        Initiate Checkout
      </button>

      <div class="resize-handle-top"></div>
      <div class="resize-handle-left"></div>
      <div
        id="resizeRight"
        class="resize-handle-right"
        mwlResizeHandle
        [resizeEdges]="{ right: true }"
        (document:mousedown)="collusionTest($event)"
      ></div>
      <div class="resize-handle-bottom"></div>
    </div>
  </div>

  <div
    id="prodCol"
    class="pageCol"
    [ngClass]="
      oneFifths
        ? 'col-xl-9 col-lg-9 col-md-9'
        : twoFifths
        ? 'col-xl-7 col-lg-7 col-md-7'
        : threeFifths
        ? 'col-xl-5 col-lg-5 col-md-5'
        : fourFifths
        ? 'col-xl-2 col-lg-2 col-md-2'
        : 'col-xl-2 col-lg-2 col-md-2'
    "
  >
    <div class="row prodRow" id="prodRow">
      <div
        class="prodCol"
        *ngFor="let Product of productsService._products"
        [ngClass]="
          oneFifths
            ? 'col-xl-3 col-lg-3 col-md-3'
            : twoFifths
            ? 'col-xl-4 col-lg-4 col-md-4'
            : threeFifths
            ? 'col-xl-6 col-lg-6 col-md-6'
            : fourFifths
            ? 'col-xl-12 col-lg-12 col-md-12'
            : 'col-xl-12 col-lg-12 col-md-12'
        "
      >
        <app-product-card
          [ProdType]="true"
          [Product]="Product"
        ></app-product-card>
      </div>
    </div>
  </div>
</div>
