.sw {
  width: 15%;
  align-self: auto;
}

.bw {
  width: 85%;
}

.borderR > .borderCol {
  background-color: gray;
  /* cursor: e-resize; */
  border-right: gray 15px solid;
  /* padding: 0, 0, 10px, 10px; */
  /* padding-left: 10px; */
  /* z-index: 0; */
  width: 350px;
  /* position: relative; */
  /* flex-wrap: wrap; */
}

/* div:nth-child(1) */
.borderR > .borderCol {
  background-color: white;
  cursor: context-menu;
  width: 350px;

  /* position: absolute; */

  z-index: 900;

  /* flex-direction: column; */
}

/* .productsDV {
  display: flex;
  flex: 5;
} */

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-content:space-around; */
  justify-content: center;
  column-gap: 20px;

  /* justify-content: flex-start */

  /* position: fixed; */
}

.justFlex {
  display: flex;
  flex-wrap: wrap;
}

.flexCol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
  /* justify-content:space-around; */
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.totalPP {
  width: 55%;
  display: inline-block;
}

.con {
  display: flex;
  flex-wrap: wrap;
}
