.pointer {
  cursor: pointer;
}

.bigger {
  font-size: x-large;
}

.float {
  float: right;
  margin-left: 1vw;
}

.scroller {
  overflow: scroll;
  height: 200vh;
}

.cartSECTION {
  height: 100vh;
  overflow-y: auto;
}

.productSECTION {
  height: 100vh;
  overflow-x: auto;
}
