<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <b class="whiteTxT nav-item" *ngIf="usersServiceService._Users">
      Hello {{ usersServiceService._Users.Fname }} :)
    </b>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pointer">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="settingsService._changeRegisterStatus(true)"
            routerLink="/logIn"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="settingsService._changeRegisterStatus(false)"
            routerLink="/logIn"
            >Log In</a
          >
        </li>
        <div
          class="isUserID"
          *ngIf="
            usersServiceService._currentUserID > 0 && !ordersService._isOrdering
          "
        >
          <app-categories-nav></app-categories-nav>
        </div>

        <li class="orderSearch" *ngIf="ordersService._isOrdering">
          <input
            [(ngModel)]="prodInCartService._prodInCartSearch"
            class="form-control me-2 w-md-25 orderSearchInput"
            placeholder="Cart Item Name"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
