<div class="container">
  <div class="row mb-3"></div>
  <div class="row mb-3">
    <div class="col-4"></div>
    <div class="col-4">
      <form ngNativeValidate #form>
        <div class="row mb-3">
          <label for="mail" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            name="mail"
            id="mail"
            [(ngModel)]="usersServiceService._User.Mail"
            required
          />
        </div>
        <div class="row mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="text"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="usersServiceService._User.Password"
            required
          />
        </div>
        <div class="row mb-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button
              type="submit"
              class="btn btn-primary mx-auto"
              (click)="getUserNCart()"
            >
              Log In
            </button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
      Doesn't Have An Account Yet ? <a routerLink="/registerPart1">Sight Up</a>
      <div class="row mt-3">
        <div class="col-2"></div>

        <div class="col-8" (click)="findCart()">
          <button
            class="btn btn-primary"
            [disabled]="!usersServiceService._Users"
            [routerLink]="
              !usersServiceService._Users
                ? []
                : usersServiceService._Users.ID > 0
                ? ['/home']
                : []
            "
          >
            {{
              !usersServiceService._Users ||
              usersServiceService._Users.CartID == null
                ? "Start New Shopping"
                : "Go To Cart"
            }}
          </button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
