<div class="container">
  <div class="row">
    <div class="col-12">
      <form ngNativeValidate #form>
        <div class="row mb-3">
          <label for="mail" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            name="mail"
            id="mail"
            [(ngModel)]="usersServiceService._User.Mail"
            required
          />
        </div>
        <div class="row mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="text"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="usersServiceService._User.Password"
            required
          />
        </div>
        <div class="row mb-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button
              type="submit"
              class="btn btn-primary mx-auto"
              (click)="formValidation()"
            >
              Log In
            </button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
      Doesn't Have An Account Yet ?
      <a
        (click)="usersServiceService._changeRegisterStatus(true)"
        routerLink="/logIn"
        >Sight Up</a
      >
    </div>
  </div>
</div>
