<div class="container">
  <div class="row">
    <div class="col-12">
      <form ngNativeValidate>
        <div class="mb-3">
          <label for="city" class="form-label">City:</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="city"
            id="city"
            [(ngModel)]="usersServiceService._User.City"
            [ngModelOptions]="{ standalone: true }"
            required
            ngDefaultControl
          >
            <option selected>Open this select menu</option>
            <option value="Jerusalem">Jerusalem</option>
            <option value="Tel Aviv">Tel Aviv</option>
            <option value="Haifa">Haifa</option>
            <option value="Ashdod">Ashdod</option>
            <option value="Rishon LeZiyyon">Rishon LeZiyyon</option>
            <option value="Petah Tikva">Petah Tikva</option>
            <option value="Beersheba">Beersheba</option>
            <option value="Netanya">Netanya</option>
            <option value="Holon">Holon</option>
            <option value="Bnei Brak">Bnei Brak</option>
            <option value="Rehovot">Rehovot</option>
            <option value="Bat Yam">Bat Yam</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="street" class="form-label">Street:</label>
          <input
            type="text"
            class="form-control"
            id="street"
            aria-describedby="emailHelp"
            required
            [(ngModel)]="usersServiceService._User.Street"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="mb-3">
          <label for="Fname" class="form-label">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="Fname"
            [(ngModel)]="usersServiceService._User.Fname"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="mb-3">
          <label for="Lname" class="form-label">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="Lname"
            [(ngModel)]="usersServiceService._User.Lname"
            [ngModelOptions]="{ standalone: true }"
            required
          />
          <button
            type="submit"
            class="btn btn-primary"
            (click)="usersServiceService._createNewUser()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
