<!-- <h3 id="h3">
  {{ replaceToYellowBG() }}
  <span id="yellowBG" *ngIf="prodInCartService._bgSearchMatch" class="yellowBG">
    {{ prodInCartService._prodInCartSearch }}</span
  >
</h3> -->

<!-- <h1 *ngIf="!prodInCartService._isSearching">{{ Name }}</h1> -->

<!-- <h1 *ngIf="prodInCartService._isSearching">
  <span
    *ngFor="let nm of prodInCartService._namesArr; index as i"
    [ngClass]="!nm.isSearched ? 'regularBG' : 'yellowBG'"
    >{{ prodInCartService._nameStr(prodInCartService._namesArr[i]) }}</span
  >
</h1> -->
<!-- <h1 *ngIf="prodInCartService._isSearching">
  <span
    *ngFor="let nm of prodInCartService.strArr; index as i"
    [ngClass]="!nm.isSearched ? 'regularBG' : 'yellowBG'"
    >{{ nm.letter }}</span
  >
</h1> -->
